{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpeApu - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <header class="header">
        <h1>OpeApu</h1>
    </header>
    {% if user.is_authenticated %}
    <div>
        <nav>
            <ul>
                {% block link %}
                <li><a href="{% url 'opeapp:home' %}">Etusivu</a></li>
                <li><a href="{% url 'opeapp:students' %}">Oppilaat</a></li>
                <li><a href="{% url 'opeapp:courses' %}">Kurssit</a></li>
                <li><a href="{% url 'opeapp:grades' %}">Arvosanat</a></li>
                <li><a href="{% url 'opeapp:logout' %}">Kirjaudu ulos</a></li>
                {% endblock %}
            </ul>
        </nav>
    </div>
    {% endif %}
    <div id="messages">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="flash-message {% if message.tags %}{{ message.tags }}{% endif %}">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% block content %}{% endblock %}
</body>
</html>