{% extends "base.html" %}
{% block title %}Etusivu{% endblock %}
{% block link %}
    {% if user.is_authenticated %}
        {{ block.super }}
    {% endif %}
{% endblock %}
{% block content %}
    <h2>Etusivu</h2>
    <p>
        <em>Oppilaat</em>-välilehdellä voi lisätä uusia oppilaita tietokantaan ja lisäksi annetaan 
        kaikki tietokantaan luodut oppilaat listana. Listasta pääsee myös yksittäisen oppilaan 
        kurssiarvosanatietoihin käsiksi. 
    </p>
    <p> 
        <em>Kurssit</em>-välilehdellä voi luoda uusia kursseja ja 
        kaikki luodut kurssit annetaan listana. Luotuun kurssiin voi lisätä kurssille 
        osallistuvat oppilaat.
    </p>
    <p>
        <em>Arvosanat</em>-välilehdellä voi antaa kurssin oppilaille kurssiarvosanan.
    </p>
{% endblock %}